USE [master]
GO
/****** Object:  Database [AplicatieRestaurant]    Script Date: 8/30/2021 12:08:44 PM ******/
CREATE DATABASE [AplicatieRestaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AplicatieRestaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AplicatieRestaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AplicatieRestaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AplicatieRestaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplicatieRestaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplicatieRestaurant]
GO
/****** Object:  Table [dbo].[Masa]    Script Date: 8/30/2021 12:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numar] [int] NOT NULL,
	[NrLocuriLibere] [int] NOT NULL,
	[NrLocuriOcupate] [int] NOT NULL,
	[IDOspatar] [int] NULL,
 CONSTRAINT [PK_Masa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produs]    Script Date: 8/30/2021 12:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [nvarchar](50) NOT NULL,
	[Pret] [float] NOT NULL,
	[Stoc] [int] NOT NULL,
 CONSTRAINT [PK_Produs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 8/30/2021 12:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizator]    Script Date: 8/30/2021 12:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[NumeUtilizator] [nvarchar](50) NOT NULL,
	[Parola] [nvarchar](50) NOT NULL,
	[IDRol] [int] NOT NULL,
 CONSTRAINT [PK_Utilizator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Masa]  WITH CHECK ADD  CONSTRAINT [FK_Masa_Utilizator] FOREIGN KEY([IDOspatar])
REFERENCES [dbo].[Utilizator] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Masa] CHECK CONSTRAINT [FK_Masa_Utilizator]
GO
ALTER TABLE [dbo].[Utilizator]  WITH CHECK ADD  CONSTRAINT [FK_Utilizator_Rol] FOREIGN KEY([IDRol])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Utilizator] CHECK CONSTRAINT [FK_Utilizator_Rol]
GO
USE [master]
GO
